<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
        APIDOCO::{{currentVersion}}
      </a>
    </li>
    <li class="padding-10">
      <select class="form-control" ng-if="documentationNames.length > 1" ng-model="currentVersion" ng-change="navigateToCurrentVersion();">
        <option ng-repeat="name in documentationNames" ng-value="name">{{name}}</option>
      </select>
    </li>
    <li class="mt-10 padding-10">
      <input type="text" placeholder="Search.." class="form-control input-sm" ng-model="searchKeyword" />
    </li>
    <li ng-repeat="x in jsonItem.apis | filter: searchKeyword">
      <a href="#api_{{$index}}" du-smooth-scroll du-scrollspy>{{x.name}}</a>
    </li>
  </ul>
</div>
