<div ng-controller="DocumentationController"
  ng-init="jsonItem = <%= @data.to_json %>;
           documentationVersions = <%= documentation_versions(@vp).to_json %>;
           currentVersion = '<%= @documentation.version %>';">
  <!-- Sidebar -->
  <%= render partial: "side_bar" %>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-2">
              <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                <img src="data:image/false;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGFJREFUOI3t0kEOQDAYROGP4EicFTdyJAQLFcKu3Uh4STO7PzN55XNkIUvUIWOYMIQEHdbE10IeDq6Rza4snJMLNOInj/bJc3qvG0fDyi6liLzzkNJ7u5TUf/hL+ZSU97MBesZLbzOP1bcAAAAASUVORK5CYII=">
              </a>
            </div>
          </div><br />

          <div ng-if="jsonItem.base_url" class="row">
            <div class="col-lg-12 text_wheat">
              <strong>BASE URL</strong>
              {{ jsonItem.base_url }}
            </div>
          </div><br />

          <div class="row api_details" ng-repeat="x in jsonItem.apis | filter: searchKeyword" id="api_{{$index}}">
            <div class="col-lg-12">
              <h4>{{x.name}}</h4>
              <div class="row mt-10">
                <div class="col-lg-2 text-right">End Point:</div>
                <div class="col-lg-10">
                  <code>{{x.end_point}}</code>
                </div>
              </div>

              <div class="row mt-10">
                <div class="col-lg-2 text-right">HTTP Method:</div>
                <div class="col-lg-10">{{x.http_method}}</div>
              </div>

              <div class="row mt-10">
                <div class="col-lg-2 text-right">Header:</div>
                <div class="col-lg-10">
                  <p ng-repeat="(key, value) in x.header">
                    <code>{{ key }}:
                      <span>
                        {{ value }}
                      </span>
                    </code>
                  </p>
                </div>
              </div>

              <div class="row mt-10">
                <div class="col-lg-2 text-right">Params:</div>
                <div class="col-lg-10">
                  <p ng-repeat="param in x.params">
                    <code>{{param.key}}
                      <span ng-if="param.required">
                        #{{param.required ? 'required' : 'optional'}}</span>
                      <span ng-if="param.type">type: {{param.type}}</span>
                    </code>
                  </p>
                </div>
              </div>

              <div class="row mt-10">
                <div class="col-lg-2 text-right">Notes:</div>
                <div class="col-lg-10">
                  <p ng-repeat="note in file.notes">
                    {{ note }}
                  </p>
                </div>
              </div>

              <div class="row mt-10">
                <div class="col-lg-2 text-right">Examples:</div>
                <div class="col-lg-10">
                  <div ng-repeat="example in x.examples">
                    <div>
                      <p class="text-center">Request</p>
                      <pre pretty-json="example.request" />
                    </div>
                    <div>
                      <p class="text-center">Response</p>
                      <pre pretty-json="example.response" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
