<div ng-app="apiDocoApp" ng-controller="v1_json_sidebar" ng-init="json =<%= @v1 %>">
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
        API DOCO
      </a>
    </li>

    <li ng-repeat="x in json.apis" >
      <a href="#api_{{$index}}">{{x.name}}</a>
    </li>
  </ul>
</div>
