.api_details {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 20px;
  background-color: #fff;
  margin-bottom: -1px;
}

#page-content-wrapper {
  background-color: #ffffff;
  padding: 0px;
}

.text_wheat {
  color: wheat;
}

pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  border: none;
}

h2.section-title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}

.section-block {
  margin-bottom: 15px;
  margin-top: 15px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

.section-block .block-title {
  margin-top: 0;
}

.container-flex {
  display: flex;
  width: 100%;
  position: relative;
}

.container-flex .description {
  flex: 0 0 65%;
}

.container-flex .examples {
  position: absolute;
  left: 70%;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.built-with {
  position: absolute;
  bottom: 0;
  left: 20%;
  padding: 10px;
  font-size: 12px;
}

.built-with a, .built-with a:hover {
  color: white;
}

