.api_details {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 20px;
  background-color: #fff;
  margin-bottom: -1px;
}

#page-content-wrapper {
  background-color: #f5f8fa;
}

.text_wheat {
  color: wheat;
}

pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  border: none;
}