/* All the helper/reusable classes should be in here */
.pointer {
  cursor: pointer;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.padding-10 {
  padding: 10px !important;
}

