<!DOCTYPE html>
<html ng-app="apiDocoApp">
  <head>
    <title>Apidoco</title>
    <%= stylesheet_link_tag    "apidoco/application", media: "all" %>
    <%= javascript_include_tag "apidoco/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
