<hr style="margin-top: 0; margin-bottom: 0; border: 0;"> <!-- To fix the weird issue when runnuing the specs, The component was not not rendering without this hack -->

<div class="card section-block">
  <div class="card-body">
    <h5 class="card-title">Body Properties</h5>
    <div ng-repeat="param in $ctrl.params" class="row mb-2">
      <div class="col-2 flex-column">
        <div>{{param.key}}</div>
        <div>
          <small class="text-danger font-weight-lighter text-uppercase" ng-if="param.required">REQUIRED</small>
          <small class="text-info font-weight-lighter text-uppercase" ng-if="!param.required">OPTIONAL</small>
        </div>
      </div>
      <div class="col-1 text-lowercase"><span class="badge badge-pill badge-light">{{param.type}}</span></div>
      <div class="ml-1 text-muted col-3" ng-if="param.description">{{param.description}}</div>
      <div class="ml-1 text-muted col-5">
        {{param.notes}}
        <p ng-if="$ctrl.param.validations">
          <small ng-repeat="validation in param.validations">{{validation}}<br></small>
        </p>
      </div>
    </div>
  </div>
</div>
